[Desktop Entry]
Name=KittyKernel
Comment=Maowing all your kernel needs!
Exec=kittykernel
Icon=/usr/lib/kittykernel/kittykernel.svg
Type=Application
Categories=Settings;
NoDisplay=false
X-KDE-StartupNotify=false
StartupNotify=false
